<body>

    
    <% if (product) { %>
        <h1><%= product.name %> </h1>
        <div class="product-grid">
            <p class="product-info">
                <canvas id="<%= product._id %>" width="400" height="300"> </canvas>
                Current price: £<%= product.prices.at(-1).price.toFixed(2) %><br />
                Added: <%= product.prices.at(0).date.toLocaleDateString() %>
            </p>
            
            <h1 class="product-history">
                This was priced lowest at: <strong>£<%= lowestPrice.price.toFixed(2) %></strong> on <%= lowestPrice.date.toLocaleDateString() %> <br />
                ...and was priced highest at: <strong>£<%= highestPrice.price.toFixed(2) %></strong> on <%= highestPrice.date.toLocaleDateString() %><br />
                <% priceDiff = product.prices.at(-1).price - product.prices.at(-2).price %><br />
                The difference between the last month is <strong>£<%= priceDiff.toFixed(2) %></strong><br />
                ...and the price has increased by <strong><%= change.toFixed(2) %>%</strong> since <%= product.prices.at(0).date.toLocaleDateString() %>  
            </h1>
        </div>
                
    <% } else { %>
        <h1>not found</h1>
    <% } %>
    
</body>
<script src="/javascripts/chart.js"></script>
<script src="/javascripts/applyChart.js"></script>
<script>
    const product = <%- JSON.stringify(product) %> 
    applyChart(product)
</script>
